[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-rerunfailures = "*"
responses = "*"

[packages]
unicodecsv = "*"
requests = "*"
logzero = "*"
pygments = "*"

[scripts]
tests = "python -m pytest --cov=dhis2 --cov-report term-missing tests -vv"
