[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-coverage = "*"
responses = "*"

[packages]
unicodecsv = "*"
requests = "*"

[scripts]
tests = "python setup.py test"
